<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
   {%load static%}
</head>
<body>
<h1>Collection</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque beatae distinctio eaque laborum magnam maxime modi officiis recusandae repellat? Autem earum eum facere facilis in porro similique ullam velit!</p>
<img src="{% static 'assets/cars1.jpeg' %}" alt="">
<img src="{% static 'assets/cars2.jpeg' %}" alt="">
<img src="{% static 'assets/cars3.jpeg' %}" alt="">
<img src="{% static 'assets/cars4.jpeg' %}" alt="">
<img src="{% static 'assets/cars5.jpeg' %}" alt="">
<img src="{% static 'assets/cars6.jpeg' %}" alt="">


</body>
</html>